.searchAndSortBar {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;

  Button {
    font-size: 0.8rem;
    font-family: 'Inter';
  }
}

@media (max-width: 480px) {
  .searchAndSortBar {
    flex-direction: column;
    align-items: stretch;
  }

  input,
  select,
  button {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    margin-bottom: 0;
  }
}